.container{

    height: 50vh;
    width: 50vw;
    background-color: aquamarine;
    position: static;
    left: 500px;  
    position: relative;
    left: 200px;
}

.child1{
    height: 150px;
    width: 150px;
    background-color: blue;
    position: absolute;
    left: 50px;
}
.box {
  margin: 20px;
  padding: 20px;
}

.box1 {
  height: 50px;
  width: 50px;
  background-color: burlywood;
  position: fixed;
  left: 900px;
  top: 350px;
}

.box2 {
  background-color: blue;
  position: sticky;
  top: 0px;
}

.box3 {
  background-color: chartreuse;
}